<div class="center">
    <h3>Registration Form</h3>
    <form [formGroup]="registerRef" (ngSubmit)="registerUser()">
        <br />
        <span style="color:white;">First Name:</span>
        <input type="text" formControlName="fname" />
        <br />
        <span style="color:white;">Last Name:</span>
        <input type="text" formControlName="lname" />
        <br />
        <span style="color:white;">Username:</span>
        <input type="text" formControlName="user" />
        <br />
        <span style="color:white;">Password:</span>
        <input type="password" formControlName="pass" />
        <br />
        <input type="submit" value="Register"/>
        <input type="reset" value="Reset">
    </form>
</div>